@model IEnumerable<FreeezeWebApp.Models.Database.Entities.DBBlogArticle>

@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Added on</th>
                <th>Editor</th>
                <th>Teaser</th>
                <th>Content</th>
                <th>Image path</th>
                <th>Image alt</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.UTCAddedOn</td>
                    <td>@item.Editor.ToString()</td>
                    <td>@item.Teaser.Substring(0, (item.Teaser.Length < 100) ? item.Teaser.Length : 100)</td>
                    <td>@item.Content.Substring(0, (item.Content.Length < 100) ? item.Content.Length : 100)</td>
                    <td>@item.ImagePath</td>
                    <td>@item.ImageAlt</td>
                    <td><a href="@Url.Action("Edit", new { item.ID })">Edit</a></td>
                    <td><a href="@Url.Action("Delete", new { item.ID })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Create new article", "Create")
</p>