@model IEnumerable<FreeezeWebApp.Models.Database.Entities.DBLogin>

@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
 }

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Login time (UTC)</th>
                <th>Logout time (UTC)</th>
                <th>User agent</th>
                <th>IP address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Editor.ToString()</td>
                    <td>@item.UTCLoginTime</td>
                    <td>@item.UTCLogoutTime</td>
                    <td>@item.UserAgent.Substring(0, (item.UserAgent.Length < 50) ? item.UserAgent.Length : 50)...</td>
                    <td>@item.UserIP</td>
                    <td><a href="@Url.Action("DeleteLogin", new { item.ID })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>