@model IEnumerable<FreeezeWebApp.Models.Database.Entities.DBProduct>
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td><a href="@Url.Action("Edit", new { item.ID })">Edit</a></td>
                    <td><a href="@Url.Action("Delete", new { item.ID })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>